@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

*{
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

body {
  font-family: "M PLUS 1";
	background-color: #1A1E1C;
	overflow-x: hidden;
}

.container {
	width: 86%;
	margin: 0 auto;
	max-width: 1440px;
}


/* header start here */

header {
	display: flex;
	margin-top: 35px;
	justify-content: space-between;
}

header span {
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -0.6px;
  }

	nav {
		flex-basis: 36%;
	}
    
	nav ul {
		display: flex;
		justify-content: space-between;
	}
    
	.navmenu a {
		color: #FFF;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	header .contact {
		display: flex;
		padding: 12px 32px;
		justify-content: center;
		text-transform: capitalize;
		align-items: center;
		gap: 10px;
		color: #2BB32A;
		font-family: "M PLUS 1";
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px; 
		border-radius: 64px;
    border: 2px solid #2BB32A;
		transition: all ease-in .3s;
	}

	header .contact:hover {
		background-color: #2BB32A;
		color: #fff;
		transition: all ease-in .3s;
	}

	/* header end here */
    	/* banner start here */
	.banner {
		display: flex;
		align-items: baseline;
		margin-top: 140px;
	}

	.banner .profileImgContainer {
		display: flex;
		flex-direction: column;
	}

	.banner h1 	{
		color: #FFF;
		font-family: "M PLUS 1";
		font-size: 56px;
		font-style: normal;
		font-weight: 700;
		line-height: 64px; /* 114.286% */
		letter-spacing: -1.4px;
	}

	.banner p {
		width: 84%;
		color: #ADB2B1;
		font-family: "M PLUS 1";
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 133.333% */
		margin: 31px 0;
	}

	.banner .leftcontent {
		width: 604px;
	}

	.banner .leftcontent button {
		display: flex;
		padding: 14px 30px;
		align-items: center;
		gap: 16px;
		background-color: #2BB32A;
		border: 1px solid #2BB32A;
		color: #FFF;
		font-family: "M PLUS 1";
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
		border-radius: 64px;
		transition: all ease-in .3s;
		cursor: pointer;
		margin-bottom: 31px;
	}

	.banner .leftcontent button:hover {
		background-color: transparent;
		color: #2BB32A;
		transition: all ease-in .3s;
	}

	.profileImgContainerWrapper {
		width: 100%;
    position: relative;
	}

	.profileImgContainerWrapper .count {
		display: flex;
		flex-direction: column;
		width: 77%;
    position: absolute;
    right: 0;
	}

	.profileImgContainerWrapper .count .number {
		color: #FFF;
		font-family: "M PLUS 1";
		font-size: 16px;
		font-weight: 700;
		line-height: 24px; /* 150% */
	}

	.profileImgContainerWrapper .count .active {
		color: #ADB2B1;
		font-family: "M PLUS 1";
		font-size: 12px;
		line-height: 16px;
		margin-top: 5px;
	}

	.banner .profileImgContainer {
		position: relative;

	}

	.banner .profileImgContainer img {
		position: absolute;
	}

	.banner .profileImgContainer .profile-2 {
		left: 6%;
	}

	.banner .profileImgContainer .profile-3 {
		left: 12%;
	}


	/* right content start here */
	.rightcontent {
		width: 400px;
	}

	.rightcontent .circle {
		width: 492px;
    height: 492px;
    border-radius: 50%;
    background: #2BB32A;
    margin-left: 74%;
	}

		/* right content end here */
	
	/* banner end here */

    /* achievment section start here */
	.achievment {
        display: flex;
        justify-content: space-around;
        margin-top: 204px;
            border-radius: 32px;
            padding: 64px;
            background: rgba(61, 84, 77, 0.24);
            backdrop-filter: blur(8px);
     }
    
        .info-box {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .info-box h3 {
            color: #FFF;
            font-family: "M PLUS 1";
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: -0.32px;
        }
    
        .info-box p {
            color: #2BB32A;
            font-family: "M PLUS 1";
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin-top: 5px;
        }
    
        /* achievment section end here */

		/* brands section starts here */
		.brands  ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 198px;
			column-gap: 20px;
		}
		/* brands section end here */


